parameters:
    level: 8
    paths:
        - %rootDir%/src/

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/MonsieurBizSyliusMediaManagerExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
