<div class="ui modal monsieurbiz-sylius-file-manager__modal">
    <div class="header">
        {% include '@MonsieurBizSyliusMediaManagerPlugin/Admin/MediaManager/Modal/_header.html.twig' %}
    </div>

    <div class="content">
        {% include '@MonsieurBizSyliusMediaManagerPlugin/Admin/MediaManager/Modal/_content.html.twig' %}
    </div>

    <div class="actions">
        {% include '@MonsieurBizSyliusMediaManagerPlugin/Admin/MediaManager/Modal/_actions.html.twig' %}
    </div>
    <div class="ui dimmer inverted monsieurbiz-sylius-file-manager__loader">
        <div class="ui loader"></div>
    </div>
</div>
